
.filter-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.checkbox-item {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 8px;
}

label {
  cursor: pointer;
}
