
form {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 10px;
}

input {
  padding: 12px 20px;
  border: none;
  background: #200303;
  outline: none;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  max-width: 30rem;
  flex: 1;
  min-width: 200px;
}

@media (max-width: 768px) {

  input {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
  }

  form {
      width: 100%;
      justify-content: flex-start;
  }
}

@media (max-width: 576px) {


  input {
      margin-bottom: 10px;
  }
}
